<p>
Long queues:
</p>
<p>
  <ul>
    <% @params.each do |queue, size| %>
      <li>
          <span>Queue: <span><strong><%= queue %></strong> has <%= size %>items
      </li>
    <% end %>
  </ul>
</p>
